@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: var(--color-light-primary);
  color:var(--color-dark-primary);
}
/*Palette UI*/

:root{
  --color-light-primary:#f1f0f0;
  --color-light-secondary:#dadada;
  --color-dark-primary:#070707;
  --color-dark-secondary:#1d1a1a;
  --color-blue-primary:#0984e3;
}

/*flex-container*/
.flex-container{
  max-width: 80%;
  margin: 0 auto;
}

@media (min-width:240px) and (max-width:880px){
  .flex-container{
    max-width: 90%;
  }
}
